.question{
    padding: 10px;
    margin: 10px;
    border: 1px solid orange;
    position: relative;
}
.question .delete{
    content: "X";
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 5px;
    cursor: pointer;
}
.ans::before{
    content: ""
}
.question .q-text{
    width: 80%;
}
.question .ans-text{
    width: 50%;
}
fieldset{
    border: none;
}